<div style="padding: 10px;">
  <h1>{{ title }}</h1>
  <hr />

  <h3>New Tech Watch List for second half of 2020</h3>
  Monday, 27 July 2020
  <br />
  <br />
  <b>What tech stocks am I watching for the rest of the year?</b>
  <br />
  <br />
  <table
  class="table table-dark"
    style="
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <tr>
      <td>iEnergizer</td>
    </tr>
    <tr>
      <td>PayPal</td>
    </tr>
    <tr>
      <td>Square</td>
    </tr>
    <tr>
      <td>QualComm</td>
    </tr>
    <tr>
      <td>Activation Blizzard</td>
    </tr>
    <tr>
      <td>Polar Capital</td>
    </tr>
    <tr>
      <td>AMD</td>
    </tr>
    <tr>
      <td>Polar Capital</td>
    </tr>
    <tr>
      <td>Fastly</td>
    </tr>
    <tr>
      <td>Ncino</td>
    </tr>
    <tr>
      <td>Docusign</td>
    </tr>
    <tr>
    <td>Shopify</td>
  </tr>
    <tr>
      <td>Wix</td>
    </tr>
    <tr>
      <td>GoDaddy</td>
    </tr>
    <tr>
      <td>Microsoft</td>
    </tr>
    <tr>
      <td>JD.com</td>
    </tr>
    <tr>
    <td>Cenit</td>
  </tr>
    <tr>
      <td>Qini</td>
    </tr>
    <tr>
      <td>Alibaba</td>
    </tr>
    <tr>
      <td>ASML</td>
    </tr>
    <tr>
      <td>Tencent</td>
    </tr>
    <tr>
      <td>ServiceNow</td>
    </tr>
    <tr>
      <td>Chegg</td>
    </tr>
    <tr>
      <td>Ring Central</td>
    </tr>
    <tr>
      <td>Ping Identity</td>
    </tr>
    <tr>
      <td>ProofPoint</td>
    </tr>
    <tr>
      <td>TSMC</td>
    </tr>
    <tr>
      <td>SAP</td>
    </tr>
    <tr>
      <td>Coupa Software</td>
    </tr>
    <tr>
      <td>Salesforce</td>
    </tr>
  </table>
</div>
